<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emily.name %>
</p>

<p>
  <strong>Dsc:</strong>
  <%= @emily.dsc %>
</p>

<%= link_to 'Edit', edit_emily_path(@emily) %> |
<%= link_to 'Back', emilies_path %>
